<div class="flex gap-x-2">
  @if (stateMachine.canStartWorking()) {
  <app-button (buttonClick)="startWorking()" color="primary">
    Start working
  </app-button>
  }
  @if (stateMachine.canStopWorking()) {
  <app-button (buttonClick)="stopWorking()" color="primary">
    Stop working
  </app-button>
  }
  @if (stateMachine.canTakeABreak()) {
  <app-button (buttonClick)="takeABreak()" color="primary">
    Take a break
  </app-button>
  }
  @if (stateMachine.canFinishBreak()) {
  <app-button (buttonClick)="finishBreak()" color="primary">
    Finish break
  </app-button>
  }
</div>

<app-input-time-modal #inputTimeModal />